*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100vw;
  min-height: 100vh;
  background: #d1411e;

}


.blue-slide,
.yellow-slide,
.green-slide {
  height: 100vh;
  font-size: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* .blue-slide {
  background-color: blue;
}

.yellow-slide {
  background-color: yellow;
}

.green-slide {
  background-color: green;
} */